
/* ========= header ======= */

header.site-header{
    padding-bottom: 1.75rem;
    transition: .3s;
}
header.site-header .bl-navigation ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
 header.site-header .bl-navigation ul > li > a{
    font-size: 1.5625rem;
    line-height: 2.0625rem;
    padding: .5rem 3rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    transition: .5s;
}
.main-navigation ul ul{
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99999;
    transition: .5s;
}
.main-navigation li{
    position: relative;
    transition: .4s;
}

header.site-header .bl-navigation ul.sub-menu li > a{
    font-weight: 400;
}


header.site-header .bl-navigation ul > li ul.sub-menu{
    background-color: var(--black);
    border-radius: 5px;
    flex-wrap: wrap;
    display: flex;
    padding-top: .6rem;
    padding-bottom: .6rem;
}
header.site-header .bl-navigation ul > li ul.sub-menu li a{
    color: var(--white);
}



/* -- toggle button --- */
.rt-menu-toggle{
    background: transparent;
    border: none;
    padding: 0;
}
.rt-menu-toggle span{
    width: 43px;
    height: 3px;
    background-color: var(--white);
    margin-bottom: 9px;
    display: block;
    border-radius: 2px;
    transition: .4s;
}
.rt-menu-toggle span:last-child{
    margin-bottom: 0;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(2){
    opacity: 0;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(1){
    transform: rotate(33deg);
    transform-origin: left;
    margin-bottom: 12px;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(3){
    transform: rotate(-37deg);
    transform-origin: left;
    margin-top: -2px;
}
.site-header.solid-header .rt-menu-toggle span,
.header-type-white .site-header .rt-menu-toggle span{
    background-color: var(--rt-black);
}
.site-header.solid-header.opened-menu .rt-menu-toggle span,
.header-type-white .site-header.opened-menu .rt-menu-toggle span{
    background-color: var(--white);
}
.header-type-white .site-header{
    border-bottom: 1px solid var(--rt-lighter-gray);
}
/* -- on scroll header --- */
header.site-header.solid-header,
.header-type-white header.site-header{
    background-color: var(--white) !important;
    z-index: 11;
    transition: .3s;
}
header.site-header.solid-header{
    box-shadow: 1px 2px 3px var(--rt-light-gray);
}


header.site-header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: var(--black);
}
.header-type-white header.site-header{
    position: sticky;
    top: 0;
}
.header-type-transparent header.site-header{
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
}
.top-utility-menu .menu-header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.top-utility-menu .menu-header ul li a{
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
    padding: 10px 33px;
    background-color: var(--theme-yellow);
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid var(--black);
}

/* ======= footer styling ========= */
footer.global-footer{
    background-color: var(--black);
    color: var(--white);
    padding-bottom: 3.125rem;
}
footer.global-footer nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
footer.global-footer nav ul li a{
    color: var(--link-footer);
    font-family: var(--font-neue-haas);
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 2.375rem;
    text-decoration: none;
    transition: .4s;
}
footer.global-footer nav ul li a:hover{
    color: var(--white);
}
footer.global-footer nav ul li{
    min-width: 16rem;
    margin-bottom: 1rem;
}
footer.global-footer .footer-logo img{
    width: 100%;
    max-width: 28.125rem;
}
footer.global-footer .footer-copyright{
    max-width: 45rem;
    margin: auto;
    text-align: center;
    color: var(--theme-yellow);
    padding-top: 5.25rem;
}
footer.global-footer .footer-copyright a{
    color: var(--theme-yellow);
    text-decoration: none;
}
footer.global-footer .footer-copyright a:hover{
    text-decoration: underline;
}

/* ====== hero-slider ===== */
.hero-slider .items-hero{
    position: relative;
    height: 44rem;
    overflow: hidden;
}
.hero-slider .items-hero .banner-back,
.hero-slider .items-hero .banner-back-mobile{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.hero-slider .items-hero:after{
    /* content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-left: 240px solid transparent;
    border-bottom: 766px solid var(--theme-yellow); */
}
.hero-slider .items-hero .caption-wrap{
    max-width: 40rem;
}
.hero-slider-bl .caption-wrap h1,
.hero-slider-bl .caption-wrap p{
    color: var(--white);
}

.hero-slider-bl .caption-wrap .btn-custom{
    margin-top: 2rem;
    text-transform: capitalize;
}
.hero-slider .items-hero > .container{
    height: 100%;
}
.hero-slider .items-hero > .container > .row{
    height: 100%;
    align-items: center;
}
.hero-slider .slick-dots{
    bottom: 20px;
    text-align: right;
    padding-right: 20px;
}
.hero-slider .slick-dots li button:before{
    font-size: 17px;
    color: var(--white);
}
.hero-slider .slick-dots li.slick-active button:before{
    color: var(--white);
}

/* alignment change based on the class */
.hero-slider .items-hero.align-right > .container > .row{
    flex-direction: row-reverse;
}
.hero-slider .items-hero.align-right .caption-wrap{
    margin-left: auto;
    text-align: right;
}
.hero-slider .items-hero.align-right .caption-wrap h1{
    max-width: 26.875rem;
    margin-left: auto;
}
.hero-slider .items-hero.align-right .caption-wrap p{
    max-width: 27.75rem;
    margin-left: auto;
}
.hero-slider .items-hero.black-bg .caption-wrap h1,
.hero-slider .items-hero.black-bg .caption-wrap p{
    color: var(--white);
}
.hero-slider .items-hero.gray-bg .caption-wrap h1,
.hero-slider .items-hero.gray-bg .caption-wrap p{
    color: var(--black);
}
.hero-slider .items-hero .banner-back{
    object-position: center;
}
.hero-slider .items-hero.align-right .banner-back{
    object-position: right;
}
.hero-slider .items-hero.align-left .banner-back{
    object-position: left;
}
/* shape color and alignment as per the classs change */
.hero-slider .items-hero.align-left:after{
    left: 0;
    right: auto;
    border-left: 0;
    border-right: 240px solid transparent;
}
.hero-slider .items-hero.black-bg:after{
    border-bottom-color: var(--black);
}
.hero-slider .items-hero.grey-bg:after{
    border-bottom-color: var(--theme-lt-gray);
}
.hero-slider .items-hero.grey-bg h1{
    color: var(--black);
}
.hero-slider .items-hero.grey-bg p{
    color: var(--theme-lt-black);
}

/* ====== gallery-slider-section ======= */
.gallery-slider-section{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.gallery-slider-section .gallery-slider .items{
    position: relative;
    overflow: hidden;
}
.gallery-slider-section .gallery-slider .items .text-box{
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: var(--white);
    height: 100%;
    width: 100%;
    top: 0;
    transition: .4s;
}

.gallery-slider-section .gallery-slider .items img{
    transition: .4s;
    height: 18.75rem;
    width: 100%;
    object-fit: cover;
}
.gallery-slider-section .gallery-slider .items:hover img{
    transform: scale(1.04);
}
.gallery-slider .items .text-box{
    padding: 1.3rem 1.25rem;
}
.gallery-slider .items .text-box h3{
    text-transform: uppercase;
    font-size: 4.275rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 1rem;
    font-family: var(--font-rift);
}
.gallery-slider .items .text-box a{
    display: block;
}
.gallery-slider .items .text-box .btn-custom-small{
    background: var(--theme-yellow);
    padding: 0.3rem 0.5rem;
    color: var(--black);
    line-height: 1;
    text-transform: uppercase;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.4375rem;
    pointer-events: none;
}

.slick-slider{
    margin-bottom: 0 !important;
}

/* ======= two column full width section ========= */
.full-width-column{
    background-color: var(--theme-sec-yellow);
}
.full-width-column .col-img{
    display: block;
    vertical-align: baseline;
    width: 100%;
}
.full-width-column .solid-bg-col{
    background-color: var(--theme-sec-yellow);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.full-width-column .solid-bg-col h3{
    font-size: 2.1875rem;
    line-height: 2.5rem;
    font-family: var(--font-neue-haas);
    font-weight: 700;
    padding-bottom: 0.8rem;
}
.full-width-column .solid-bg-col div:first-child{
    margin-bottom: 2.5rem;
}

/* ========= two-column-grid-section ======== */

.two-column-grid-section .col-wrap{
    background-color: var(--white);
    align-items: center;
    position: relative;
    padding-left: 17.625rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 12.5rem 1.25rem 1.25rem 12.5rem;
    box-shadow: 2px 6px 25px rgb(0 0 0 / 12%);
    margin: 0 auto 6rem;
    max-width: 43.875rem;
    transition: .4s;
}
.two-column-grid-section .col-wrap:hover{
    box-shadow: 3px 8px 27px rgb(0 0 0 / 30%);
}
.two-column-grid-section .col-wrap .logo-left{
    width: 15.625rem;
    height: 15.625rem;
    object-fit: contain;
    position: absolute;
    left: 0;
}
.two-column-grid-section .col-wrap h3{
    padding-bottom: 0;
    font-size: 2.5rem;
    line-height: 1.2;
}
.two-column-grid-section .col-wrap p{
    font-size: 1.5rem;
}
.learn-more{
    font-size: 1.25rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    padding-right: 23px;
}
.learn-more span{
    position: absolute;
    font-size: 200%;
    line-height: 0.45;
    right: 0;
    top: -2px;
    font-weight: 400;
}

/* ======= simple content section ========= */

.simple-content-section .content-inner{
    max-width: 89.375rem;
    margin: auto;
}
.simple-content-section:not(.compact-section) .content-inner p{
    font-size: 1.5625rem;
    line-height: 2.5rem;
}
.simple-content-section .content-inner p{
    margin-bottom: 1rem;
}
.simple-content-section.compact-section .content-inner{
    max-width: 70rem;
}


.heading-logo-wrap img{
    display: block;
    width: 16.25rem;
    height: 16.25rem;
    margin-left: 3.5rem;
}
.simple-content-w-logo .heading-logo-wrap h1{
    line-height: 1;
    max-width: 37.5rem;
}
.simple-content-section.simple-content-w-logo.main-heading .heading-logo-wrap{
    margin-bottom: 6.25rem;
}

/* ======== all-trailers-sec ======== */

.all-trailers-sec .inner-white-box{
    position: relative;
    background-color: var(--white);
    margin: 0 auto 4.75rem;
    max-width: 49.75rem;
    min-height: 25rem;
    overflow: hidden;
}
.inner-white-box .trailer-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
 .inner-white-box .caption,
.inner-white-box .img-box{
    width: 50%;
    position: relative;
    z-index: 1;
}

.inner-white-box .caption{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem 3.4375rem 3.5rem;
}
 .inner-white-box .caption h3{
    font-size: 4.6875rem;
    line-height: 1;
    font-family: var(--font-rift);
    /* word-break: break-word; */
 }
 .inner-white-box .caption .btn-custom-small{
    align-self: flex-end;
    font-weight: 800;
    padding: 0.62rem 1rem;
 }
 .inner-white-box .img-box{
    display: flex;
    align-items: center;
 }
 .inner-white-box::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
 }
 .inner-white-box:hover:before{
    z-index: 1;
 }

/* - hover state - */
 .inner-white-box:hover .img-box{
    opacity: 0;
}
 .inner-white-box:hover .caption h3{
    color: var(--white);
}
 .inner-white-box:hover .caption .btn-custom-small{
    background-color: var(--theme-yellow);
    color: var(--white);
}
.inner-white-box:hover .trailer-bg{
    z-index: 0;
}

/* ======== partners-section ===== */
.partners-section{
    padding-top: 0;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}
 .partners-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.partner-item{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.partner-item img{
    max-width: 16rem;
    max-height: 8.75rem;
    height: auto;
    object-fit: contain;
    width: 100%;
}

/* ============ single trailers section ============ */
.tab-refresh a{
    font-size: 2.1875rem;
    line-height: 1.1;
    font-weight: 500;
    padding: 0.65rem 3.625rem;
    color: var(--black);
    border: 5px solid var(--theme-yellow);
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: .4s;
}
.tab-refresh a:hover,
.tab-refresh a.active{
    background-color: var(--theme-yellow);
}

.details-section-trailer{
    padding-top: 3.5rem;
}
.trailer-img-contain{
    max-width: 43.75rem;
    height: 29.125rem;
    object-fit: contain;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;    
}
.detail-box{
    position: relative;
    border: 8px solid var(--theme-yellow);
    padding: 0 3rem 2rem;
    margin-bottom: 5rem;
}
.detail-box h2.text-medium{
    position: relative;
    text-align: center;
    background-color: var(--theme-lt-gray);
    display: inline-block;
    margin: -2.6rem auto 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0px 1.5rem;
}

.feature-list h3{
    font-size: 3.125rem;
    line-height: 4.6875rem;
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.feature-list .btn-custom-small{
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}
.feature-list .btn-custom-small img{
    height: 18px;
    object-fit: contain;
    width: 20px;
    margin-right: 5px;
}
.detail-box ul{
    padding-left: 1.7rem;
}
.detail-box ul li{
    font-weight: 400;
    margin-bottom: 0.6rem;
    line-height: 1.3;
}
.trigger-toggle{
    font-size: 1.5625rem;
    color: var(--theme-dark-gray);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
.trigger-toggle:after{
    content: '';
    right: -26px;
    top: 0.4rem;
    height: 0.3rem;
    width: 0.3rem;
    transform: rotate(-45deg) translate(-50%, 0);
    position: absolute;
    border-left: 0.4rem solid var(--theme-dark-gray);
    border-bottom: 0.4rem solid var(--theme-dark-gray);
    border-right: 0.4rem solid transparent;
    border-top: 0.4rem solid transparent;
    border-radius: 2px;
}
.trigger-toggle.only-one .less{
    display: inline-block !important;
}
.trigger-toggle.only-one:after{
    right: -18px;
    top: 1.3rem;
    transform: rotate(135deg) translate(-50%, 0);
}

.option-toggle{
    font-size: 3.125rem;
    line-height: 4.6875rem;
    color: var(--black);
    text-decoration: none;
    position: relative;
}
.option-toggle:after{
    content: '';
    right: -46px;
    top: 53%;
    height: 0.6rem;
    width: 0.6rem;
    transform: rotate(45deg) translate(-50%, 0);
    position: absolute;
    border-left: 0.8rem solid var(--black);
    border-bottom: 0.8rem solid var(--black);
    border-right: 0.8rem solid transparent;
    border-top: 0.8rem solid transparent;
    border-radius: 1px;
}
.option-toggle.opened:after{
    top: 25%;
    transform: rotate(-45deg) translate(-50%, 0);
}



.toggle-content,
.options-content{
    display: none;
}
.trigger-toggle .less,
.trigger-toggle.only-one .more{
    display: none;
}
.trigger-toggle.only-one .less,
.options-content.show-content,
.toggle-content.show{
    display: block;
}
.options-content ul{
    padding-left: 5rem; 
    column-count: 3;
}
.with-single-point.options-content ul{
    column-count: auto;
}
.options-content ul li{
    padding-right: 2.5rem;
}
.table-wrap table thead{
    background-color: var(--theme-yellow);
}
.table-wrap table th,
.table-wrap table td{
    padding: 5px 7px;
    border: 2px solid var(--theme-yellow);
}
.table-wrap table{
    margin-bottom: 2rem;    
}
.table-wrap .entity{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 1.6rem;
}
.table-wrap .entity .head,
.table-wrap .entity .value{ 
    width: 100%; 
    font-size: 1.5625rem;
    font-weight: 700;
    font-family: var(--font-neue-haas); 
    padding: .25rem 0.5rem;  
}
.table-wrap .entity .head{
    background-color: var(--theme-yellow);
}
.table-wrap .entity .value{
    border-bottom: 4px solid var(--theme-yellow);
    border-left: 4px solid var(--theme-yellow);
}
.table-wrap .d-flex .entity:last-child .value{
    border-right: 4px solid var(--theme-yellow);
}
.table-wrap{
   max-width: 43.75rem;
}



/* ======== flattrak-hero-section ===== */
.flattrak-hero-section {
    position: relative;
}
.flattrak-hero-section img{
    width: 100%;
    height: 33.62500rem;
    object-fit: cover;
    vertical-align: bottom;
}
.flattrak-hero-section a{
    position: absolute;
    left: 50%;
    bottom: 4.0625rem;
    transform: translate(-50%, 0);
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);
    z-index: 1;
    transition: .4s;
}
.flattrak-hero-section a:hover{
    background-color: var(--flat-track-green);
    border-color: var(--flat-track-green);
    color: var(--white);
}
.flattrak-hero-section:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(90deg, rgb(59 53 52 / 60%) 7%, rgb(4 4 4 / 15%) 50%, rgb(59 53 52 / 59%) 92%);
    background: -webkit-linear-gradient(90deg, rgb(59 53 52 / 60%) 7%, rgb(4 4 4 / 15%) 50%, rgb(59 53 52 / 59%) 92%);
    background: linear-gradient(90deg, rgb(59 53 52 / 60%) 7%, rgb(4 4 4 / 15%) 50%, rgb(59 53 52 / 59%) 92%);
    }

/* ========= flattrak-three-up-section ========= */
.flattrak-three-up-section .inner-box{
    padding-top: 3.8125rem;
    padding-bottom: 3.8125rem;
}
.inner-box h3{
  font-size: 2.875rem;
  line-height: 3.4375rem;
  text-align: center;
  font-weight: 300;
  padding-bottom: 0;
  font-family: var(--font-termina);
}
.inner-box h3 strong{
    display: block;
    font-weight: 700;
}
.row .outer-box:nth-child(2) .inner-box{
    position: relative;
}
.row .outer-box:nth-child(2) .inner-box:after,
.row .outer-box:nth-child(2) .inner-box:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 66.66%;
    width: 4px;
    background-color: #CD5843;
}
.row .outer-box:nth-child(2) .inner-box:after{
    right: 0;
    left: auto;
    top: 33.33%;
}

/* ===== flattrak-testimonial ==== */
 .flattrak-testimonial{
    background-color: var(--flat-track-green);
    color: var(--white);
 }
 .flattrak-testimonial .testi-content{
    max-width: 75rem;
    margin: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.flattrak-testimonial .testi-content p{
    font-size: 2.5rem;
    line-height: 3.4375rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.flattrak-testimonial .testi-content span{
    font-size: 1.375rem;
    line-height: 1.875rem;
    font-weight: 700;
}
.flattrak-testimonial .testi-content span.location-name{
    display: block;
    text-align: center;
}
/* flattrak-logo-with-cta-section */
.flattrak-logo-with-cta-section{
    text-align: center;
}
.flattrak-logo-with-cta-section img{
    max-width: 46.875rem;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 4rem;
}
.flattrak-logo-with-cta-section .btn-custom{
    border-color: var(--flat-track-green);
    color: var(--flat-track-green);
}
.flattrak-logo-with-cta-section .btn-custom:hover{
    background-color: var(--flat-track-green);
    color: var(--white);
}
.flattrak-testimonial .quote-img{
    max-width: 43.75rem;
    width: 100%;
    margin: 0 auto 2rem;
    display: block;
}


/* ======== form-with-content ======== */
.form-with-content{
    padding-bottom: 0;
}
.form-with-content .text-medium{
    text-align: left;
}
.form-with-content .content-wrapper > div{
    max-width: 48.875rem;
}
.form-with-content + .simple-content-section.fullwidth-section .content-inner{
    max-width: 100%;
}
.gform_wrapper .gfield_label{
    color: var(--theme-dark-gray);
    font-family: var(--font-neue-haas);
    font-weight: 500 !important;
}
.gform_wrapper .gfield_label span.gfield_required{
    display: none;
}
.gform_wrapper .gform_fields .gfield input{
    font-size: 1.4rem !important;
}
.gform_wrapper.gravity-theme .gfield .ginput_container_textarea textarea.medium{
    height: 17.3125rem;
}
.gfield .ginput_container_textarea textarea{
    resize: none;
}
section .gform_confirmation_wrapper {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
section.form-with-content .gform_confirmation_wrapper{
    text-align: left;
    padding-top: 0;
    padding-left: 0;
}
/* ======= form-section ========== */

.form-section .form-box{
    max-width: 62.0625rem;
    margin: auto;
}
.narrow-text{
    max-width: 42.375rem;
    margin: 0 auto 2rem;
}
.narrow-text a{
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}
.form-section .gform_wrapper.gravity-theme .gform_fields{
    grid-column-gap: 23px;
}
.form-section .ginput_container_date input{
    width: 100% !important;
}
.form-section .ginput_container_fileupload .gform_fileupload_multifile{
    position: relative;
    max-width: 288px;
    height: 61px;
    border: 1px solid var(--theme-dark-gray);
    border-radius: 10px;
    background: var(--white);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form-section .ginput_container_fileupload .gform_fileupload_multifile .gform_drop_area{
    padding: 0;
    border: none;
    background: transparent;
    margin-bottom: 0;
}
.form-section .ginput_container_fileupload .gform_fileupload_multifile .gform_drop_area .gform_drop_instructions{
    display: none;
}
.form-section .ginput_container_fileupload .gform_fileupload_multifile .gform_drop_area .gform_button_select_files{
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 25px;
    color: transparent;
    text-transform: uppercase;
    font-weight: 500;
}
.form-section .gfield .ginput_container_textarea textarea.medium{
    height: 12.5rem !important;
}

.form-section .ginput_container_fileupload .gform_fileupload_multifile .gform_drop_area .gform_button_select_files:after{
    content: 'UPLOAD PHOTO(S)';
    position: absolute;
    left: -1px;
    top: 0px;
    height: 30px;
    width: 220px;
    color: var(--theme-dark-gray);
    font-size: 1.45rem;
    line-height: 1.5;
    font-weight: 500;
}
.form-section .ginput_container_fileupload .gform_fileupload_multifile .gform_drop_area .gform_button_select_files:before{
    content: '';
    position: absolute;
    left: -28px;
    top: 6px;
    height: 20px;
    width: 20px;
    background: url("../_images/Icon-awesome.svg") center center no-repeat;
    background-size: contain;
    z-index: 11;
}
.form-section .ginput_container_fileupload .gform_fileupload_rules{
    display: none !important;
}
 .gform_wrapper .gform_validation_errors{
    display: none !important;
}
.form-section .gform_wrapper .gform_footer{
    text-align: center;
}
.gform_wrapper .gform_footer .btn-custom{
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    padding: 0.5rem 4.625rem;
    font-family: var(--font-neue-haas);
}
.form-section .gform_wrapper .gform_footer .btn-custom{
    color: var(--theme-yellow);
    margin-bottom: 2.6rem;
    font-family: var(--font-neue-haas);
}
.form-section .gform_wrapper .gform_footer .btn-custom:hover{
    color: var(--black);
}
.gform_wrapper .gform_footer .btn-custom span{
    position: static;
    font-size: 100%;
    font-weight: 700;
}
.form-with-content .gform_wrapper .gform_footer{
 text-align: right;
 justify-content: flex-end;
}
section .gform_wrapper .gfield_validation_message, 
section .gform_wrapper .validation_message{
    padding: 0 !important;
    background: transparent !important;
    border: none !important;
}
.gform_wrapper.gravity-theme .ginput_container_date input::-webkit-input-placeholder{
    color: transparent;
}

/* ============ single trailer page ============= */

.single-trailers-section > .container-fluid strong.h3{
    font-size: 2.8125rem;
    line-height: 1;
    font-family: var(--font-rift);
    display: block;
    padding-bottom: 0;
    margin-top: 1rem;
}
.single-trailers-section > .container-fluid strong.h3 a{
    color: inherit;
    text-decoration: none;
    font-family: var(--font-rift);
    display: inline-block;
}
.trailer-slide-wrap{
    max-width: 46.875rem;
}
.trailer-slide-wrap .items-product img{
    height: 28.125rem;
    object-fit: cover;
    width: 100%;
}
.trailer-slide-wrap .products-nav{
    margin-top: 5px;
}
.trailer-slide-wrap .item-nav img{
    height: 6.875rem;
    width: 100%;
    object-fit: cover;
    background-color: var(--theme-lt-gray);
}
.trailer-slide-wrap .slick-next,
.trailer-slide-wrap .slick-prev{
    z-index: 1;
    height: 100%;
    width: 6rem;
    opacity: 0;
    transition: .4s;
}
.trailer-slide-wrap:hover .slick-next,
.trailer-slide-wrap:hover .slick-prev{
    opacity: 1;
}
/* .trailer-slide-wrap:hover .slick-next.slick-disabled,
.trailer-slide-wrap:hover .slick-prev.slick-disabled{
    opacity: 0.5;
} */
.trailer-slide-wrap .slick-next{
    right: 0;
    background: transparent linear-gradient(270deg, #00000098 0%, #00000000 100%) 0% 0% no-repeat padding-box;
}
.trailer-slide-wrap .slick-prev{
    left: 0;
    background: transparent linear-gradient(-270deg, #00000098 0%, #00000000 100%) 0% 0% no-repeat padding-box;
}
.trailer-slide-wrap .products-nav .slick-next,
.trailer-slide-wrap .products-nav .slick-prev{
    width: 3rem;
}
.trailer-slide-wrap .slick-prev:before,
.trailer-slide-wrap .slick-next:before{
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    transform: rotate(45deg) skew(10deg, 10deg);
    border-radius: 3px;
    opacity: 1;
}

.trailer-slide-wrap .slick-next:before{
    border-top: 5px solid var(--theme-yellow);
    border-right: 5px solid var(--theme-yellow);
    margin-left: auto;
    margin-right: 20px;
}
.trailer-slide-wrap .slick-prev:before{
    margin-right: auto;
    margin-left: 20px;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid var(--theme-yellow);
    border-bottom: 5px solid var(--theme-yellow);
}
.trailer-slide-wrap .products-nav .slick-prev:before,
.trailer-slide-wrap .products-nav .slick-next:before{
    height: 25px;
    width: 25px;
}
.trailer-archive #loading-container{
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(128 128 128 / 64%);
    z-index: 11;
}
.trailer-archive #loading-container img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* ======= 404 page ======= */
.error404 h1 span{
    color: var(--theme-yellow);
    font-size: 200%;
    display: block;
}

/* ==== filter-stripe-wrap ===== */
.filter-stripe-wrap {
    background: var(--link-footer);
    position: fixed;
    padding: 25px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.filter-stripe-wrap .wrapperCl{
    flex-grow: 1;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px; 
}   
.filter-stripe-wrap .compare-box{
    position: relative;
    width: 100%;
    border: 2px dashed var(--white);
    background-color: var(--theme-dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-stripe-wrap .action-wrap{
    padding: 0px 2.375rem;
}

.compare-box .inner-box{
    background-color: var(--white);
    display: flex;
    height: 100%;
    padding: 10px 0 10px 10px;
}
.compare-box .inner-box img{
    width: 50% !important;
    max-width: 170px;
    height: 100% !important;
    object-fit: contain;
}
.compare-box .inner-box h5{
    width: 50%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    font-size: 2.1875rem;
    line-height: 1.1;
    padding-left: 10px;
    padding-right: 10px;
}
.inner-box .dismiss{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
}
.compare-box .messageCl{
    color: var(--theme-lt-gray);
    font-size: 1.25rem; 
    line-height: 1.1;
    text-align: center;
    padding: 0px 8px;
}
.hidden-filter {
  bottom: -100%;
  transition: 0.4s;
}
.show-filter {
  bottom: 0;
  transition:0.4s;
}
.clear-button{
    font-size: 1.875rem;
    line-height: 1.1;
    font-weight: 700;
    padding: 0.875rem 3.625rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}
.action-wrap .btn-custom{
    color: var(--theme-yellow);
    cursor: pointer;
}
.action-wrap .btn-custom:hover{
    color: var(--theme-lt-black);
}


/* ========= comparison table ======== */
.comparison-table{
    width: 100%;
    table-layout: fixed;
}
.comparison-table .img-head a,
.comparison-table .img-head a span{
    display: block;
    text-decoration: none;
    color: var(--theme-lt-black);
}
.comparison-table .img-head a span{
    display: block;
}
.comparison-table .img-head{
    padding-bottom: 1rem;
}
.comparison-table .img-head img{
    max-width: 140px;
    width: 100%;
}
.comparison-table thead tr th:first-child{
    text-align: left;
}
.comparison-table tr td{
    padding: 12px 16px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.comparison-table tr:last-child td{
    border-bottom: 1px solid gray;
}
.comparison-table tr td:last-child{
    border-right: 1px solid gray;
}
.gray-bg-td{
    background-color: #b9b9b9;
    font-weight: 700;
}
.gray-lt-bg-td{
    background-color: #d1d1d1;
    font-weight: 700;
}
.comparison-table .text-medium{
    font-family: var(--font-neue-haas);
}



/* =========== default template ========== */
.bl-default-template .entry-content h3{
    padding-bottom: 0.4rem;
    margin-top: 1.5rem;
}
.bl-default-template .entry-content h2,
.bl-default-template .entry-content h3{
    text-align: left;
}
header.site-header .bl-navigation ul.menu > li.current-menu-ancestor > a,
header.site-header .bl-navigation ul.menu > li.current-menu-item > a,
header.site-header .bl-navigation ul.sub-menu > li.current-menu-item > a,
header.site-header .bl-navigation ul.menu > li.current-menu-ancestor > ul.sub-menu > li.current_page_item > a {
    color: var(--theme-yellow);
}

@media screen and (min-width:767px){
    .heading-logo-wrap {
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width:768px){
    .hero-slider .items-hero .banner-back-mobile{
        display: none;
    }
    .detail-box ul li{
        font-size: 1.5625rem;
        line-height: 1.3;
    }
    .partner-item{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .partners-wrapper{
        margin-top: 2rem;
    }
}
@media screen and (min-width:769px){
    .gallery-slider-section .gallery-slider .items .text-box{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .gallery-slider-section .gallery-slider .items:hover .text-box{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
@media screen and (min-width:992px){
    header.site-header .rt-menu-toggle{
        display: none;
    }
    header.site-header.solid-header .bl-navigation ul > li > a,
    .header-type-white header.site-header .bl-navigation ul > li > a{
        color: var(--black);
        font-weight: 500;
    }
    header.site-header.solid-header .bl-navigation ul > li ul.sub-menu,
   .header-type-white header.site-header .bl-navigation ul > li ul.sub-menu{
    background-color: var(--white);
    }
    header.site-header .bl-navigation ul > li ul.sub-menu{
        min-width: 185px;
        width: auto;
        display: initial;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu > li{
        width: 100%;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu > li a{
        display: block;
        width: 100%;
        white-space: nowrap;
        cursor: pointer;
        border-top: 1px solid rgb(255 255 255 / 55%);
        font-weight: 600;
        padding: 0.5rem 2.25rem 0.5rem 1rem;
    }
    header.site-header .site-branding img{
        max-width: 346px;
        width: 100%;
    }
    .bl-navigation ul > li:first-child > a{
        padding-left: 1rem;
    }
     .bl-navigation ul > li.menu-item-has-children:after{
        content: '';
        position: absolute;
        right: 1.9rem;
        top: 0.8rem;
        height: 0.625rem;
        width: 0.625rem;
        transform: rotate(-45deg);
        border-top: 2px solid var(--white);
        border-left: 2px solid var(--white);
        transition: .4s;
     }
     .bl-navigation ul > li.menu-item-has-children:hover:after{
        top: 0.6rem; 
        transform: rotate(-135deg);
     }
     .main-navigation ul li:hover > ul{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    header.site-header .bl-navigation ul > li > a:hover,
    header.site-header .bl-navigation ul > li ul.sub-menu > li > a:hover{
        color: var(--link-footer);
    }
    .hero-slider-bl .caption-wrap p,
    .single-trailers-section .description p{
        font-size: 2.1875rem;
        line-height: 1.3;
    }
    .gfield .ginput_container input{
        padding: 1.07rem 1rem !important;
    }
     .gform_wrapper .gfield_label{
    font-size: 1.5625rem !important;
    }
    .feature-list .btn-custom-small{
        font-size: 1.5625rem;
        font-weight: 700;
        border-radius: 0.45rem;
        padding: 0.3rem 1.2rem;
        margin-right: 2rem;
        text-transform: uppercase;
    }
    .form-with-content p{
        font-size: 1.5625rem;
        line-height: 2.5rem;
    }
    .only-mobile{
        display: none;
    }
    .bl-default-template .entry-content h2{
        font-size: 3.25rem;
        text-align: left;
    }
    .bl-default-template .entry-content h3{
        font-size: 2.6rem;
        text-align: left;
        padding-bottom: .4rem;
        margin-top: 2rem;
    }
    
    .full-width-column .col-img{
        height: 100%;
        object-fit: cover;
        object-position: right top;
    }
    .solid-bg-col .inner-text-wrap{
        padding-right: 20px;
    }
}
@media screen and (min-width:768px){
    .single-trailers-section > .container-fluid{
        padding-left: calc((100% - 700px)/2);
    }
}

@media screen and (min-width:992px){
    .single-trailers-section > .container-fluid{
        padding-left: calc((100% - 940px)/2);
    }
}
@media screen and (min-width:1200px){
    .single-trailers-section > .container-fluid{
        padding-left: calc((100% - 1120px)/2);
    }
    .full-width-column .solid-bg-col{
        padding-right: calc((100% - 1120px)/2) !important;
      }
}
@media screen and (min-width:1400px){
    .single-trailers-section > .container-fluid{
        padding-left: calc((100% - 1200px)/2);
    }
}
@media screen and (min-width:1600px){
    .single-trailers-section > .container-fluid{
      max-width: 100% !important;
      padding-left: 5% !important;
    }
    .full-width-column .solid-bg-col{
        padding-right: calc((100% - 1520px)/2) !important;
      }
  }
  @media screen and (min-width:2000px){
    .single-trailers-section > .container-fluid{
        max-width: 1920px !important;
        padding-left: 15px !important;
      }
      .full-width-column .solid-bg-col{
        padding-right: calc((100% - 1820px)/2) !important;
      }
  }

@media screen and (min-width:768px) and (max-width:991px){
    .hero-slider .items-hero{
        height: 18rem;
    }
    .hero-slider .items-hero > .container{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;    
    }
    .hero-slider .items-hero .caption-wrap h1{
        max-width: 18.875rem !important;
        font-size: 2.5rem;
        line-height: 1.1;
    }
    .hero-slider .items-hero .caption-wrap p{
        max-width: 16rem !important;
        font-size: 1.2rem;
        line-height: 1.2;
    }
   .caption-wrap .btn-custom{
        padding: 7px 20px;
        font-size: 20px;
        background-color: var(--theme-yellow);
        color: var(--black);
        border-radius: 9px;
    }
    .hero-slider .items-hero.align-right{
        object-position: right;
    }
    .bl-default-template .entry-content h2{
        font-size: 3rem;
    }
}
@media screen and (min-width:1599px) and (max-width:1750px){
    header.site-header .bl-navigation ul > li > a{
        font-size: 1.3rem;
    }
}
@media screen and (min-width:992px) and (max-width:1600px){
    .form-section .ginput_container_fileupload .gform_fileupload_multifile .gform_drop_area .gform_button_select_files:after{
        font-size: 1.75rem;
    }
}
@media screen and (min-width:992px) and (max-width:1400px){
    header.site-header .bl-navigation ul > li > a{
        padding: .5rem 2.25rem;
        font-size: 1.3rem;
    }
    .bl-navigation ul > li.menu-item-has-children:after{
        right: 1.1rem;
        top: 0.7rem;    
    }
    .compare-box .inner-box img{
        max-width: 80px;
    }
    .compare-box .inner-box h5{
        font-size: 1.1875rem;
    }
}
@media screen and (max-width:991px){
    /* ----==----==- mobile menu --==----==------ */
    nav.bl-navigation{
        visibility: hidden;
        opacity: 0;
        height: 0;
        pointer-events: none;
        transition: .3s;
    }
    header.site-header.opened-menu nav.bl-navigation ul.menu{
        display: block;
        padding-left: 1.8125rem;
        padding-right: 1.8125rem;
        max-height: 500px;
        overflow-y: auto;
    }
   header.site-header.opened-menu nav.bl-navigation{
        visibility: visible;
        opacity: 1;
        height: auto;
        pointer-events: auto;
        position: fixed;
        left: 0;
        top: 5.75rem;
        width: 100%;
        background-color: var(--theme-lt-black);
        /* height: 100%; */
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        z-index: 1;
    }
    .rt-menu-toggle{
        position: absolute;
        left: 1.8125rem;
        top: 33px;
        display: block;
        z-index: 11;
    }
    header.site-header.opened-menu .site-branding a.custom-logo-link{
        position: relative;
        z-index: 11;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu{
        position: static;
        background: transparent;
        box-shadow: none;
        width: 100%;
        display: none;
        padding-top: 0 !important;
        float: none;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu li{
        width: 100%;
    }
    header.site-header .bl-navigation ul.menu > li{
        border-bottom: 1px solid var(--rt-location);
    }
    header.site-header .bl-navigation ul.menu > li.open-dropdown.menu-item-has-children{
        border-bottom: none;
    }
    header.site-header .bl-navigation ul.menu > li.open-dropdown .sub-menu{
        border-bottom: 1px solid var(--rt-location);
        border-radius: 0px;
        display: block;
        padding-left: 1.5rem;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    header.site-header .bl-navigation ul > li > a{
        padding: 0.625rem 0;
        color: var(--theme-lt-gray);
        font-weight: 500;
        font-size: 1.5625rem;
        display: inline-block;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu li a{
        padding: 0.625rem 0;
        color: var(--theme-lt-gray);
        font-weight: 500;
        font-size: 1.5625rem;
        display: inline-block;
    }
    header.site-header{
        padding-bottom: 1rem;
        height: 92px;
        /* position: relative; */
    }
    header.site-header.opened-menu{
        position: fixed;
        top: 0;
    }
    .top-utility-menu{
        display: none;
    }
    header.site-header .site-branding {
        max-width: 203px;
        margin-left: auto;
        position: relative;
        padding-top: 27px;
        padding-right: 1.0625rem;
    }
    footer.global-footer .footer-logo img{
        max-width: 293px;
    }
    footer.global-footer .footer-logo{
        text-align: center;
    }
    footer.global-footer nav ul{
        margin: 2rem auto 0;
        justify-content: space-around;
        text-align: center;
    }
    footer.global-footer .footer-copyright{
        padding-top: 2.25rem;
    }
    .bl-navigation .open-label{
        height: 14px;
        width: 14px;
        display: inline-block;
        border-left: 2px solid var(--white);
        transform: rotate(-45deg);
        border-bottom: 2px solid var(--white);
        vertical-align: super;
        margin-left: 10px;
     }
     .row .outer-box:nth-child(2) .inner-box:after, 
     .row .outer-box:nth-child(2) .inner-box:before{
        width: 100%;
        height: 4px;
        left: 0;
        right: 0;
     }
     .row .outer-box:nth-child(2) .inner-box:after{
        top: 100%;
     }
     .form-with-content .form-wrapper{
        margin-top: 3rem;
     }
     .form-with-content{
        padding-bottom: 0;
     }
     .inner-white-box .img-box{
        opacity: 0;
    }
     .inner-white-box .caption h3{
        color: var(--white);
    }
     .inner-white-box .caption .btn-custom-small{
        background-color: var(--theme-yellow);
        color: var(--black);
    }
    .inner-white-box:hover .caption .btn-custom-small{
        color: var(--black);
    }
    .inner-white-box .trailer-bg{
        z-index: 0;
    }
    .single-trailers-section .description{
        padding-top: 2rem;
    }
    .table-wrap .entity .head, 
    .table-wrap .entity .value{
        font-size: 1rem;
    }
    .feature-list h3,
    .option-toggle{
        font-size: 2.125rem;
    }
    .option-toggle:after{
        right: -25px;
        top: 57%;
        height: 0.4rem;
        width: 0.4rem;
        border-width: 0.4rem;
    }
    .detail-box{
        padding: 0 1rem 1rem;
        border-width: 4px;
    }
    .options-content ul{
        padding-left: 2rem;
        column-count: 1;
    }
    .tab-refresh a{
        font-size: 1rem;
        padding: 0.65rem 1.25rem;
    }
    .trailer-slide-wrap .slick-next, 
    .trailer-slide-wrap .slick-prev{
        opacity: 1;
    }
}

@media screen and (max-width:768px){
    .gallery-slider-section .gallery-slider .items img{
        height: 12.5rem;
    }
    .gallery-slider .items .text-box h3{
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0;
    }
    .gallery-slider .items .text-box .btn-custom-small{
        font-size: 0.6875rem;
        line-height: 1;
        border-radius: 4px;
        padding: 2px 10px;
    }
    .gallery-slider .items .text-box .btn-custom-small span{
        display: none;
    }
    .simple-content-section.simple-content-w-logo.main-heading .heading-logo-wrap{
        margin-bottom: 3.25rem;
    }
    .heading-logo-wrap h1{
        margin-bottom: 2rem;
    }
    .heading-logo-wrap img{
        margin-left: 0;
    }
    .flattrak-testimonial .testi-content p{
        font-size: 1.5rem;
        line-height: 1.3;
    }
    .flattrak-testimonial .testi-content span{
        font-size: 1rem;
        line-height: 1.2;
    }
    .single-trailers-section > .container-fluid strong.h3{
        font-size: 2.25rem;
        line-height: 1.1;
        display: block;
        margin-bottom: 1rem;
    }
    .feature-list .btn-custom-small img{
        vertical-align: sub;
    }
}
/* mobile */
@media screen and (max-width:767px){
   .two-column-grid-section .col-wrap{
        padding-left: 8.85rem;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto 2.625rem;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        background-color: rgba(255, 255, 255, .50);
    }
    .two-column-grid-section .col-wrap .logo-left{
        width: 7.8125rem;
        height: 7.8125rem;
    }
    .learn-more{
        font-size: 0.875rem;
        margin-top: 0;
    }
    .two-column-grid-section .col-wrap h3{
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .two-column-grid-section .col-wrap p{
        font-size: 0.875rem;
    }
    .full-width-column .solid-bg-col h3{
        font-size: 1.375rem;
        line-height: 1.2;
    }
    .simple-content-section:not(.compact-section) .content-inner p{
        font-size: 1.25rem;
        line-height: 1.7625rem;
        margin-bottom: 1.5rem;
    }
    footer.global-footer nav ul li a{
        font-size: 1.125rem;
        line-height: 1.2;
    }
    footer.global-footer .footer-copyright p{
        font-size: 0.8125rem;
        line-height: 1.7;
        font-weight: 500;
    }
    .global-footer.bl-section{
        padding-bottom: 2.1875;
    }
    .hero-slider .items-hero .banner-back{
        display: none;
    }
    .hero-slider .items-hero .banner-back-mobile{
       object-position: center;
    }
    .hero-slider .items-hero > .container > .row{
        align-items: flex-start;
        text-align: center;
        padding-top: 3.75rem;
    }
    .hero-slider .items-hero.align-right .caption-wrap{
        text-align: center;
    }
    .hero-slider .items-hero .caption-wrap{
        max-width: 290px;
        margin: 0 auto 15px;
    }
    .hero-slider .slick-dots{
        display: none !important;
    }
    .all-trailers-sec .inner-white-box{
        height: 13.375rem;
        min-height: auto;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 2.75rem;
    }
    .inner-white-box .caption, 
    .inner-white-box .img-box{
        width: 100%;
        padding: 1.875rem 1rem 1.4375rem 2.375rem;
    }
    .inner-white-box .caption h3{
        font-size: 2.6875rem;
    }
    .flattrak-hero-section img{
        height: 14.625rem;
    }
    .flattrak-three-up-section .inner-box{
        padding-top: 2.8125rem;
        padding-bottom: 2.8125rem;
    }
    .inner-box h3{
        font-size: 1.875rem;
        line-height: 1.2;
    }
    .flattrak-logo-with-cta-section .btn-custom{
        background-color: var(--flat-track-green);
        color: var(--white);
    }
    .inner-white-box .caption .btn-custom-small{
        color: var(--white);
        padding: 0.5rem 0.6rem;
        color: var(--black);
    }
    
    .inner-white-box .caption h3{
        width: 100%;
        text-shadow: 2px 3px 15px rgba(0, 0, 0, .70);
        max-width: 215px;
        font-size: 2.25rem;
    }
    .inner-white-box .caption .btn-custom-small{
        align-self: flex-end;
    }
    .trailer-slide-wrap .items-product img{
        height: 18.125rem;
    }
    .trailer-slide-wrap .item-nav img{
        height: 4.875rem;
    }
    .trigger-toggle{
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .trigger-toggle:after{
        top: 0;
    }
    .trigger-toggle.only-one:after{
        top: 1rem;
    }
    .feature-list h3, .option-toggle{
        font-size: 1.7rem;
        padding-left: 0.6rem;
        margin-top: 0;  
    }
    .feature-list .btn-custom-small{
        padding: 0.3rem 0.45rem;
    }
    .trailer-img-contain{
        height: 18.125rem;
        margin-bottom: 2rem;
    }
    .heading-logo-wrap h1{
        font-size: 3.125rem;
    }
    .hero-slider-bl .caption-wrap .btn-custom{
        margin-top: 1rem;
    }
    .hero-slider-bl .caption-wrap h1{
        margin-bottom: 0.875rem;
    }
    .form-section .gform_wrapper .gform_footer .btn-custom{
        color: var(--black);
    }
    .gform_wrapper .gform_footer .btn-custom{
        font-size: 1.2rem;
        padding: 0.5rem 2.625rem;
    }
    .partner-item img{
        max-width: 7.5rem;
        max-height: 4.75rem;
    }
}

/* ======= dealer location ========== */


.shortcode-section .location-box{
	max-width: 970px;
	margin: auto;
}
.location-box .slp_results_container{
		display: flex;
    flex-wrap: wrap;
	  margin-top: 1rem;
	  font-size: 2rem
}
.location-box .slp_results_container .geocode_message{
	display: none;
}
.location-box .slp_results_container .results_wrapper{
    width: 100%;
    border: none;
    padding: 0;
	  margin-bottom: 3rem;
}
.location-box .slp_results_container .results_wrapper:hover{
	background-color: transparent;
	border: none;
}
.slp_results_container .results_wrapper .results_entry{
	max-width: 23.4375rem;
}

.results_wrapper .results_entry .slp_result_citystatezip{
	display: block;
}
.results_wrapper .results_entry .location_name{
	    font-size: 2.1875rem !important;
    font-family: var(--font-rift);
    display: block;
    margin-bottom: 10px;
}
.results_wrapper .results_entry .location_distance,
.results_wrapper .results_entry .slp_result_country{
	display: none;
}
.results_wrapper .results_entry .location_secondary{
	  font-size: 1.5625rem;
    line-height: 2.1875rem;
}
.location-box .slp_search_form .search_box{
	padding: 1.4375rem 1.5rem;
	align-items: center;
}
.slp_search_form .search_box .search_item#addy_in_address{
    max-width: 27%;
}
.slp_search_form .search_box .search_item input{
	width: 100%;
  max-width: 18.9375rem;
	padding: 0.75rem 1.25rem;
  border: 1px solid #707070;
  font-size: 1.87500rem;
	color: gray;
  font-weight: 600;
}
.slp_search_form .search_box .search_item.search-range-select > div{
	  font-size: 1.87500rem;
    justify-content: flex-end;
    align-items: center;
}
.slp_search_form .search_box .search_item.search-range-select > div label{
	min-width: auto;
}
.slp_search_form .search_box .search_item.search-range-select > div select{
	  padding: 0.76rem 0.6rem;
    color: gray;
    font-weight: 600;
    -webkit-appearance: none;
	  border-radius: 0;
}
.slp_search_form .search_box .search_item .slp_ui_button{
	  margin: 0;
    border: 4px solid var(--theme-yellow);
    border-radius: 0.7rem;
    box-sizing: border-box;
    font-weight: 700;
    color: var(--theme-yellow);
    padding: 0.6rem 3rem;
    cursor: pointer;
    transition: .5s;
    width: auto;
    text-transform: uppercase;
    background-color: transparent;
}
.slp_search_form .search_box .search_item{
	align-items: center !important;
}
.slp_search_form .search_box .search_item .slp_ui_button:hover{
	background-color: var(--theme-yellow);
	color: var(--black);
}

@media screen and (min-width:768px) and (max-width:991px){
	.location-box .slp_search_form .search_box{
		flex-wrap: nowrap;
		padding-left: 0;
    padding-right: 0;
	}
	.slp_search_form .search_box .search_item input,
	.slp_search_form .search_box .search_item.search-range-select > div select,
	.slp_search_form .search_box .search_item .slp_ui_button{
		 padding: 0.2rem 1.2rem;
	}
	.slp_search_form .search_box .search_item.search-range-select > div{
		 padding: 0px 10px;
	}
}

@media screen and (min-width:768px){
	.location-box .slp_results_container .results_wrapper{
		max-width: 50%;
    width: 50%;
}
}

@media screen and (max-width:767px){
	.slp_search_form .search_box .search_item#addy_in_address{
		max-width: 100%;
	}
	.slp_search_form .search_box .search_item input{
		max-width: 100%;
	}
	.slp_search_form .search_box .search_item{
		flex-wrap: wrap;
	}
	.slp_search_form .search_box .search_item.search-range-select > div{
		width: 100%;
		justify-content: center;
    padding-top: 1rem;
	}
}



