
/* ========= header ======= */

header.site-header{
    padding-bottom: 1.75rem;
    transition: .3s;
}
header.site-header .bl-navigation ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
 header.site-header .bl-navigation ul > li > a{
    font-size: 1.125rem;
    line-height: 1.375;
    padding: .5rem 1.25rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    transition: .5s;
}
.main-navigation ul ul{
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99999;
    transition: .5s;
}
.main-navigation li{
    position: relative;
}
.main-navigation ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
header.site-header .bl-navigation ul.sub-menu li > a{
    font-weight: 400;
}
header.site-header .bl-navigation ul > li > a:hover{
    opacity: .8;
}

header.site-header .bl-navigation ul > li ul.sub-menu{
    background-color: var(--black);
    border-radius: 5px;
    flex-wrap: wrap;
    display: flex;
    padding-top: .6rem;
    padding-bottom: .6rem;
}
header.site-header .bl-navigation ul > li ul.sub-menu li a{
    color: var(--white);
}



/* -- toggle button --- */
.rt-menu-toggle{
    background: transparent;
    border: none;
    padding: 0;
}
.rt-menu-toggle span{
    width: 35px;
    height: 2px;
    background-color: var(--white);
    margin-bottom: 8px;
    display: block;
    border-radius: 2px;
    transition: .4s;
}
.rt-menu-toggle span:last-child{
    margin-bottom: 0;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(2){
    opacity: 0;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(1){
    transform: rotate(45deg);
    transform-origin: left;
    margin-bottom: 10px;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: left;
    margin-top: 10px;
}
.site-header.solid-header .rt-menu-toggle span,
.header-type-white .site-header .rt-menu-toggle span{
    background-color: var(--rt-black);
}
.site-header.solid-header.opened-menu .rt-menu-toggle span,
.header-type-white .site-header.opened-menu .rt-menu-toggle span{
    background-color: var(--white);
}
.header-type-white .site-header{
    border-bottom: 1px solid var(--rt-lighter-gray);
}
/* -- on scroll header --- */
header.site-header.solid-header,
.header-type-white header.site-header{
    background-color: var(--white) !important;
    z-index: 11;
    transition: .3s;
}
header.site-header.solid-header{
    box-shadow: 1px 2px 3px var(--rt-light-gray);
}


header.site-header{
    width: 100%;
    z-index: 11;
    background-color: var(--black);
}
.header-type-white header.site-header{
    position: sticky;
    top: 0;
}
.header-type-transparent header.site-header{
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
}
.top-utility-menu .menu-header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.top-utility-menu .menu-header ul li a{
    padding: 10px 33px;
    background-color: var(--theme-yellow);
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid var(--black);
}

/* ======= footer styling ========= */
footer.global-footer{
    background-color: var(--black);
    color: var(--white);
}
footer.global-footer nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
footer.global-footer nav ul li a{
    color: var(--link-footer);
    font-family: var(--font-neue-haas);
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 2.375rem;
    text-decoration: none;
    transition: .4s;
}
footer.global-footer nav ul li a:hover{
    color: var(--white);
}
footer.global-footer nav ul li{
    min-width: 17rem;
    margin-bottom: 1rem;
}
footer.global-footer .footer-logo img{
    width: 100%;
    max-width: 28.125rem;
}
footer.global-footer .footer-copyright{
    max-width: 45rem;
    margin: auto;
    text-align: center;
    color: var(--theme-yellow);
    padding-top: 6.25rem;
}
footer.global-footer .footer-copyright a{
    color: var(--theme-yellow);
    text-decoration: none;
}
footer.global-footer .footer-copyright a:hover{
    text-decoration: underline;
}

/* ====== hero-slider ===== */
.hero-slider .items-hero{
    position: relative;
    height: 44rem;
    overflow: hidden;
}
.hero-slider .items-hero .banner-back{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.hero-slider .items-hero:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-left: 240px solid transparent;
    border-bottom: 766px solid var(--theme-yellow);
}
.hero-slider .items-hero .caption-wrap{
    max-width: 40rem;
}
.hero-slider-bl .caption-wrap h1,
.hero-slider-bl .caption-wrap p{
    color: var(--white);
}
.hero-slider-bl .caption-wrap .btn-custom{
    margin-top: 2rem;
    text-transform: capitalize;
}
.hero-slider .items-hero > .container{
    height: 100%;
}
.hero-slider .items-hero > .container > .row{
    height: 100%;
    align-items: center;
}
.hero-slider .slick-dots{
    bottom: 20px;
    text-align: right;
    padding-right: 20px;
}
.hero-slider .slick-dots li button:before{
    font-size: 17px;
    color: var(--white);
}
.hero-slider .slick-dots li.slick-active button:before{
    color: var(--white);
}

/* alignment change based on the class */
.hero-slider .items-hero.align-right > .container > .row{
    flex-direction: row-reverse;
}
.hero-slider .items-hero.align-right .caption-wrap{
    margin-left: auto;
    text-align: right;
}
.hero-slider .items-hero.align-right .caption-wrap h1{
    max-width: 26.875rem;
    margin-left: auto;
}
.hero-slider .items-hero.align-right .caption-wrap p{
    max-width: 27.75rem;
    margin-left: auto;
}


/* shape color and alignment as per the classs change */
.hero-slider .items-hero.align-left:after{
    left: 0;
    right: auto;
    border-left: 0;
    border-right: 240px solid transparent;
}
.hero-slider .items-hero.black-bg:after{
    border-bottom-color: var(--black);
}
.hero-slider .items-hero.grey-bg:after{
    border-bottom-color: var(--theme-lt-gray);
}
.hero-slider .items-hero.grey-bg h1{
    color: var(--black);
}
.hero-slider .items-hero.grey-bg p{
    color: var(--theme-lt-black);
}
/* ====== gallery-slider-section ======= */
.gallery-slider-section{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.gallery-slider-section .gallery-slider .items{
    position: relative;
    overflow: hidden;
}
.gallery-slider-section .gallery-slider .items .text-box{
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: var(--white);
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .4s;
}
.gallery-slider-section .gallery-slider .items:hover .text-box{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.gallery-slider-section .gallery-slider .items img{
    transition: .4s;
}
.gallery-slider-section .gallery-slider .items:hover img{
    transform: scale(1.04);
}
.gallery-slider .items .text-box{
    padding: 1.875rem 1.25rem;
}
.gallery-slider .items .text-box h3{
    text-transform: uppercase;
    max-width: 300px;
    font-size: 3.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    padding-bottom: 1rem;
}
.gallery-slider .items .text-box a{
    background: var(--theme-yellow);
    padding: 0.3rem 1rem;
    color: var(--black);
    line-height: 1;
    text-transform: uppercase;
    border-radius: 0.4rem;
    font-weight: 500;
}
.slick-slider{
    margin-bottom: 0 !important;
}

/* ======= two column full width section ========= */
.full-width-column .col-img{
    height: 100%;
}
.full-width-column .solid-bg-col{
    background-color: var(--theme-yellow);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.full-width-column .solid-bg-col h3{
    font-size: 2.1875rem;
    line-height: 2.5rem;
    font-family: var(--font-neue-haas);
    font-weight: 700;
}
.full-width-column .solid-bg-col div:first-child{
    margin-bottom: 2.5rem;
}

/* ========= two-column-grid-section ======== */
.two-column-grid-section{
    background-color: var(--theme-lt-gray);
}
.two-column-grid-section .col-wrap{
    background-color: var(--white);
    align-items: center;
    position: relative;
    padding-left: 17.625rem;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 12.5rem 1.25rem 1.25rem 12.5rem;
    box-shadow: 2px 6px 25px rgb(0 0 0 / 12%);
    margin: 0 auto 6rem;
    max-width: 43.875rem;
}
.two-column-grid-section .col-wrap .logo-left{
    width: 15.625rem;
    height: 15.625rem;
    object-fit: contain;
    position: absolute;
    left: 0;
}
.two-column-grid-section .col-wrap h3{
    padding-bottom: 0;
    font-size: 2.5rem;
}
.two-column-grid-section .col-wrap p{
    font-size: 1.5rem;
}
.learn-more{
    font-size: 1.5rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    padding-right: 23px;
}
.learn-more span{
    position: absolute;
    font-size: 2.5rem;
    line-height: 0.45;
    right: 0;
    font-weight: 400;
}

/* ======= simple content section ========= */
.simple-content-section {
    background-color: var(--theme-lt-gray);
    
}





@media screen and (min-width:992px){
    header.site-header .rt-menu-toggle{
        display: none;
    }
    header.site-header.solid-header .bl-navigation ul > li > a,
    .header-type-white header.site-header .bl-navigation ul > li > a{
        color: var(--rt-black);
        font-weight: 500;
    }
    header.site-header.solid-header .bl-navigation ul > li ul.sub-menu,
   .header-type-white header.site-header .bl-navigation ul > li ul.sub-menu{
    background-color: var(--white);
    }
    header.site-header .bl-navigation ul.menu > li.current-menu-ancestor > a,
    header.site-header .bl-navigation ul.menu > li.current-menu-ancestor > ul.sub-menu > li.current_page_item > a {
        color: var(--rt-blue);
    }
    header.site-header .bl-navigation ul > li ul.sub-menu{
        min-width: 185px;
        width: auto;
        display: initial;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu > li{
        width: 100%;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu > li a{
        display: block;
        width: 100%;
        white-space: nowrap;
        cursor: pointer;
    }
}

@media screen and (max-width:991px){
    /* ----==----==- mobile menu --==----==------ */
    nav.bl-navigation{
        visibility: hidden;
        opacity: 0;
        height: 0;
        pointer-events: none;
        transition: .3s;
    }
    header.site-header.opened-menu nav.bl-navigation ul.menu{
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
   header.site-header.opened-menu nav.bl-navigation{
        visibility: visible;
        opacity: 1;
        height: auto;
        pointer-events: auto;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: var(--black);
        height: 100%;
        padding-top: 5.93rem;
        z-index: 1;
    }
    .rt-menu-toggle{
        position: absolute;
        right: 20px;
        top: 22px;
        display: block;
        z-index: 11;
    }
    header.site-header.opened-menu .site-branding a.custom-logo-link{
        position: relative;
        z-index: 11;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu{
        position: static;
        background: transparent;
        box-shadow: none;
        width: 100%;
        display: none;
        padding-top: 0 !important;
        float: none;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu li{
        width: 100%;
    }
    header.site-header .bl-navigation ul.menu > li{
        border-bottom: 1px solid var(--rt-location);
    }
    header.site-header .bl-navigation ul.menu > li.open-dropdown.menu-item-has-children{
        border-bottom: none;
    }
    header.site-header .bl-navigation ul.menu > li.open-dropdown .sub-menu{
        border-bottom: 1px solid var(--rt-location);
        border-radius: 0px;
    }
    header.site-header .bl-navigation ul.menu > li:last-child{
        border: none;
        position: absolute;
        bottom: 15px;
    }
   
    header.site-header .bl-navigation ul > li > a{
        padding: 1rem 0;
        color: var(--white);
        font-weight: 400;
        font-size: 1.25rem;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu li a{
        color: var(--white);
        font-size: 1rem;
        padding: .5rem 0;
    }
    header.site-header.opened-menu .site-branding img{
        filter: brightness(10);
    }
    header.site-header{
        padding-bottom: 1rem;
    }
}