
/* ========= header ======= */

header.site-header{
    padding-bottom: 1.75rem;
    transition: .3s;
}
header.site-header .bl-navigation ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
 header.site-header .bl-navigation ul > li > a{
    font-size: 1.125rem;
    line-height: 1.375;
    padding: .5rem 3.25rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    transition: .5s;
}
.main-navigation ul ul{
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 99999;
    transition: .5s;
}
.main-navigation li{
    position: relative;
}
.main-navigation ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
header.site-header .bl-navigation ul.sub-menu li > a{
    font-weight: 400;
}
header.site-header .bl-navigation ul > li > a:hover{
    opacity: .8;
}

header.site-header .bl-navigation ul > li ul.sub-menu{
    background-color: var(--black);
    border-radius: 5px;
    flex-wrap: wrap;
    display: flex;
    padding-top: .6rem;
    padding-bottom: .6rem;
}
header.site-header .bl-navigation ul > li ul.sub-menu li a{
    color: var(--white);
}



/* -- toggle button --- */
.rt-menu-toggle{
    background: transparent;
    border: none;
    padding: 0;
}
.rt-menu-toggle span{
    width: 35px;
    height: 2px;
    background-color: var(--white);
    margin-bottom: 8px;
    display: block;
    border-radius: 2px;
    transition: .4s;
}
.rt-menu-toggle span:last-child{
    margin-bottom: 0;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(2){
    opacity: 0;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(1){
    transform: rotate(45deg);
    transform-origin: left;
    margin-bottom: 10px;
}
.site-header.opened-menu .rt-menu-toggle span:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: left;
    margin-top: 10px;
}
.site-header.solid-header .rt-menu-toggle span,
.header-type-white .site-header .rt-menu-toggle span{
    background-color: var(--rt-black);
}
.site-header.solid-header.opened-menu .rt-menu-toggle span,
.header-type-white .site-header.opened-menu .rt-menu-toggle span{
    background-color: var(--white);
}
.header-type-white .site-header{
    border-bottom: 1px solid var(--rt-lighter-gray);
}
/* -- on scroll header --- */
header.site-header.solid-header,
.header-type-white header.site-header{
    background-color: var(--white) !important;
    z-index: 11;
    transition: .3s;
}
header.site-header.solid-header{
    box-shadow: 1px 2px 3px var(--rt-light-gray);
}


header.site-header{
    width: 100%;
    z-index: 11;
    background-color: var(--black);
}
.header-type-white header.site-header{
    position: sticky;
    top: 0;
}
.header-type-transparent header.site-header{
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
}
.top-utility-menu .menu-header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.top-utility-menu .menu-header ul li a{
    padding: 10px 33px;
    background-color: var(--theme-yellow);
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    border-right: 1px solid var(--black);
}

/* ======= footer styling ========= */
footer.global-footer{
    background-color: var(--black);
    color: var(--white);
}
footer.global-footer nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
footer.global-footer nav ul li a{
    color: var(--link-footer);
    font-family: var(--font-neue-haas);
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 2.375rem;
    text-decoration: none;
    transition: .4s;
}
footer.global-footer nav ul li a:hover{
    color: var(--white);
}
footer.global-footer nav ul li{
    min-width: 17rem;
    margin-bottom: 1rem;
}
footer.global-footer .footer-logo img{
    width: 100%;
    max-width: 28.125rem;
}
footer.global-footer .footer-copyright{
    max-width: 45rem;
    margin: auto;
    text-align: center;
    color: var(--theme-yellow);
    padding-top: 6.25rem;
}
footer.global-footer .footer-copyright a{
    color: var(--theme-yellow);
    text-decoration: none;
}
footer.global-footer .footer-copyright a:hover{
    text-decoration: underline;
}

/* ====== hero-slider ===== */
.hero-slider .items-hero{
    position: relative;
    height: 44rem;
    overflow: hidden;
}
.hero-slider .items-hero .banner-back,
.hero-slider .items-hero .banner-back-mobile{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.hero-slider .items-hero:after{
    /* content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-left: 240px solid transparent;
    border-bottom: 766px solid var(--theme-yellow); */
}
.hero-slider .items-hero .caption-wrap{
    max-width: 40rem;
}
.hero-slider-bl .caption-wrap h1,
.hero-slider-bl .caption-wrap p{
    color: var(--white);
}
.hero-slider-bl .caption-wrap .btn-custom{
    margin-top: 2rem;
    text-transform: capitalize;
}
.hero-slider .items-hero > .container{
    height: 100%;
}
.hero-slider .items-hero > .container > .row{
    height: 100%;
    align-items: center;
}
.hero-slider .slick-dots{
    bottom: 20px;
    text-align: right;
    padding-right: 20px;
}
.hero-slider .slick-dots li button:before{
    font-size: 17px;
    color: var(--white);
}
.hero-slider .slick-dots li.slick-active button:before{
    color: var(--white);
}

/* alignment change based on the class */
.hero-slider .items-hero.align-right > .container > .row{
    flex-direction: row-reverse;
}
.hero-slider .items-hero.align-right .caption-wrap{
    margin-left: auto;
    text-align: right;
}
.hero-slider .items-hero.align-right .caption-wrap h1{
    max-width: 26.875rem;
    margin-left: auto;
}
.hero-slider .items-hero.align-right .caption-wrap p{
    max-width: 27.75rem;
    margin-left: auto;
}
.hero-slider .items-hero.black-bg .caption-wrap h1,
.hero-slider .items-hero.black-bg .caption-wrap p{
    color: var(--white);
}
.hero-slider .items-hero.gray-bg .caption-wrap h1,
.hero-slider .items-hero.gray-bg .caption-wrap p{
    color: var(--black);
}
.hero-slider .items-hero .banner-back{
    object-position: center;
}
.hero-slider .items-hero.align-right .banner-back{
    object-position: right;
}
.hero-slider .items-hero.align-left .banner-back{
    object-position: left;
}
/* shape color and alignment as per the classs change */
.hero-slider .items-hero.align-left:after{
    left: 0;
    right: auto;
    border-left: 0;
    border-right: 240px solid transparent;
}
.hero-slider .items-hero.black-bg:after{
    border-bottom-color: var(--black);
}
.hero-slider .items-hero.grey-bg:after{
    border-bottom-color: var(--theme-lt-gray);
}
.hero-slider .items-hero.grey-bg h1{
    color: var(--black);
}
.hero-slider .items-hero.grey-bg p{
    color: var(--theme-lt-black);
}

/* ====== gallery-slider-section ======= */
.gallery-slider-section{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.gallery-slider-section .gallery-slider .items{
    position: relative;
    overflow: hidden;
}
.gallery-slider-section .gallery-slider .items .text-box{
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
    color: var(--white);
    height: 100%;
    width: 100%;
    top: 0;
    transition: .4s;
}

.gallery-slider-section .gallery-slider .items img{
    transition: .4s;
    height: 18.75rem;
    width: 100%;
    object-fit: cover;
}
.gallery-slider-section .gallery-slider .items:hover img{
    transform: scale(1.04);
}
.gallery-slider .items .text-box{
    padding: 1.875rem 1.25rem;
}
.gallery-slider .items .text-box h3{
    text-transform: uppercase;
    max-width: 300px;
    font-size: 3.75rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    padding-bottom: 1rem;
    font-family: var(--font-rift);
}
.gallery-slider .items .text-box a{
    background: var(--theme-yellow);
    padding: 0.3rem 1rem;
    color: var(--black);
    line-height: 1;
    text-transform: uppercase;
    border-radius: 0.4rem;
    font-weight: 500;
}

.slick-slider{
    margin-bottom: 0 !important;
}

/* ======= two column full width section ========= */
.full-width-column .col-img{
    height: 100%;
}
.full-width-column .solid-bg-col{
    background-color: var(--theme-yellow);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.full-width-column .solid-bg-col h3{
    font-size: 2.1875rem;
    line-height: 2.5rem;
    font-family: var(--font-neue-haas);
    font-weight: 700;
}
.full-width-column .solid-bg-col div:first-child{
    margin-bottom: 2.5rem;
}

/* ========= two-column-grid-section ======== */
.two-column-grid-section{
    background-color: var(--theme-lt-gray);
}
.two-column-grid-section .col-wrap{
    background-color: var(--white);
    align-items: center;
    position: relative;
    padding-left: 17.625rem;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 12.5rem 1.25rem 1.25rem 12.5rem;
    box-shadow: 2px 6px 25px rgb(0 0 0 / 12%);
    margin: 0 auto 6rem;
    max-width: 43.875rem;
}
.two-column-grid-section .col-wrap .logo-left{
    width: 15.625rem;
    height: 15.625rem;
    object-fit: contain;
    position: absolute;
    left: 0;
}
.two-column-grid-section .col-wrap h3{
    padding-bottom: 0;
    font-size: 2.5rem;
    line-height: 1.2;
}
.two-column-grid-section .col-wrap p{
    font-size: 1.5rem;
}
.learn-more{
    font-size: 1.5rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    padding-right: 23px;
}
.learn-more span{
    position: absolute;
    font-size: 200%;
    line-height: 0.45;
    right: 0;
    top: -2px;
    font-weight: 400;
}

/* ======= simple content section ========= */
.simple-content-section {
    background-color: var(--theme-lt-gray);
}
.simple-content-section {
    background-color: var(--theme-lt-gray);
}
.simple-content-section .content-inner{
    max-width: 89.375rem;
    margin: auto;
}
.simple-content-section:not(.compact-section) .content-inner p{
    font-size: 1.5625rem;
    line-height: 2.5rem;
}
.simple-content-section .content-inner p{
    margin-bottom: 1rem;
}
.simple-content-section.compact-section .content-inner{
    max-width: 70rem;
}

.heading-logo-wrap h1{
    max-width: 37.5rem;
    line-height: 1;
}
.heading-logo-wrap img{
    display: block;
    width: 16.25rem;
    height: 16.25rem;
    margin-left: 3.5rem;
}
.simple-content-section.main-heading .heading-logo-wrap{
    margin-bottom: 6.25rem;
}

/* ======== all-trailers-sec ======== */
.all-trailers-sec{
    background-color: var(--theme-lt-gray);
}
.all-trailers-sec .inner-white-box{
    position: relative;
    background-color: var(--white);
    align-items: center;
    margin: 0 auto 4.75rem;
    max-width: 43.75rem;
    height: 25rem;
}
.inner-white-box .trailer-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
 .inner-white-box .caption,
.inner-white-box .img-box{
    width: 50%;
    position: relative;
    z-index: 1;
}
.inner-white-box .caption{
    padding-left: 3.5rem;
    padding-right: 1rem;
}
 .inner-white-box .caption h3{
    font-size: 4.6875rem;
    line-height: 1;
    font-family: var(--font-rift);
 }
 .inner-white-box::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
 }
 .inner-white-box:hover:before{
    z-index: 1;
 }

/* - hover state - */
 .inner-white-box:hover .img-box{
    opacity: 0;
}
 .inner-white-box:hover .caption h3{
    color: var(--white);
}
 .inner-white-box:hover .caption .btn-custom-small{
    background-color: var(--theme-yellow);
    color: var(--white);
}
.inner-white-box:hover .trailer-bg{
    z-index: 0;
}

/* ======== partners-section ===== */
 .partners-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.partner-item{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.partner-item img{
    max-width: 20rem;
    max-height: 8.75rem;
    height: auto;
    object-fit: contain;
    width: 100%;
}

/* ============ single trailers section ============ */
.trailer-slide-wrap .slick-arrow{
    background-color: red;
}

.detail-box{
    position: relative;
    border: 8px solid var(--theme-yellow);
    margin-bottom: 4rem;
}
.toggle-content,
.options-content{
    display: none;
}
.trigger-toggle .less,
.trigger-toggle.only-one .more{
    display: none;
}
.trigger-toggle.only-one .less,
.options-content.show-content,
.toggle-content.show{
    display: block;
}
.options-content ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.options-content ul li{
    width: 33.33%;
}
.table-wrap table thead{
    background-color: var(--theme-yellow);
}
.table-wrap table th,
.table-wrap table td{
    padding: 5px 7px;
    border: 2px solid var(--theme-yellow);
}
.table-wrap table{
    margin-bottom: 2rem;    
}


/* ======== flattrak-hero-section ===== */
.flattrak-hero-section {
    position: relative;
}
.flattrak-hero-section img{
    width: 100%;
    height: 33.62500rem;
    object-fit: cover;
    vertical-align: bottom;
}
.flattrak-hero-section a{
    position: absolute;
    left: 50%;
    bottom: 4.0625rem;
    transform: translate(-50%, 0);
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);
    z-index: 1;
    transition: .4s;
}
.flattrak-hero-section a:hover{
    background-color: var(--flat-track-green);
    border-color: var(--flat-track-green);
    color: var(--white);
}
.flattrak-hero-section:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(90deg, rgb(59 53 52 / 60%) 7%, rgb(4 4 4 / 15%) 50%, rgb(59 53 52 / 59%) 92%);
    background: -webkit-linear-gradient(90deg, rgb(59 53 52 / 60%) 7%, rgb(4 4 4 / 15%) 50%, rgb(59 53 52 / 59%) 92%);
    background: linear-gradient(90deg, rgb(59 53 52 / 60%) 7%, rgb(4 4 4 / 15%) 50%, rgb(59 53 52 / 59%) 92%);
    }

/* ========= flattrak-three-up-section ========= */
.flattrak-three-up-section{
    background-color: var(--theme-lt-gray);
}

.flattrak-three-up-section .inner-box{
    padding-top: 3.8125rem;
    padding-bottom: 3.8125rem;
}

.inner-box h3{
  font-size: 2.875rem;
  line-height: 3.4375rem;
}
@media screen and (min-width:769px){
    .gallery-slider-section .gallery-slider .items .text-box{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .gallery-slider-section .gallery-slider .items:hover .text-box{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
@media screen and (min-width:768px){
    .hero-slider .items-hero .banner-back-mobile{
        display: none;
    }
}
@media screen and (min-width:767px){
    .heading-logo-wrap {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:992px){
    header.site-header .rt-menu-toggle{
        display: none;
    }
    header.site-header.solid-header .bl-navigation ul > li > a,
    .header-type-white header.site-header .bl-navigation ul > li > a{
        color: var(--black);
        font-weight: 500;
    }
    header.site-header.solid-header .bl-navigation ul > li ul.sub-menu,
   .header-type-white header.site-header .bl-navigation ul > li ul.sub-menu{
    background-color: var(--white);
    }
    header.site-header .bl-navigation ul.menu > li.current-menu-ancestor > a,
    header.site-header .bl-navigation ul.menu > li.current-menu-ancestor > ul.sub-menu > li.current_page_item > a {
        color: var(--theme-yellow);
    }
    header.site-header .bl-navigation ul > li ul.sub-menu{
        min-width: 185px;
        width: auto;
        display: initial;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu > li{
        width: 100%;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu > li a{
        display: block;
        width: 100%;
        white-space: nowrap;
        cursor: pointer;
        border-top: 1px solid rgb(255 255 255 / 55%);
        font-weight: 600;
        padding: 0.5rem 2.25rem 0.5rem 1rem;
    }
    header.site-header .site-branding img{
        max-width: 346px;
        width: 100%;
    }
    header.site-header .bl-navigation ul > li:first-child > a{
        padding-left: 1rem;
    }
}


@media screen and (min-width:768px) and (max-width:991px){
    .hero-slider .items-hero{
        height: 18rem;
    }
    .hero-slider .items-hero > .container{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;    
    }
    .hero-slider .items-hero .caption-wrap h1{
        max-width: 18.875rem !important;
        font-size: 2.5rem;
        line-height: 1.1;
    }
    .hero-slider .items-hero .caption-wrap p{
        max-width: 16rem !important;
        font-size: 1.2rem;
        line-height: 1.2;
    }
   .caption-wrap .btn-custom{
        padding: 7px 20px;
        font-size: 20px;
        background-color: var(--theme-yellow);
        color: var(--black);
        border-radius: 9px;
    }
    .hero-slider .items-hero.align-right{
        object-position: right;
    }
}

@media screen and (min-width:992px) and (max-width:1200px){
    header.site-header .bl-navigation ul > li > a{
        padding: .5rem 2.25rem;
    }
}
@media screen and (max-width:991px){
    /* ----==----==- mobile menu --==----==------ */
    nav.bl-navigation{
        visibility: hidden;
        opacity: 0;
        height: 0;
        pointer-events: none;
        transition: .3s;
    }
    header.site-header.opened-menu nav.bl-navigation ul.menu{
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
   header.site-header.opened-menu nav.bl-navigation{
        visibility: visible;
        opacity: 1;
        height: auto;
        pointer-events: auto;
        position: fixed;
        left: 0;
        top: 5.75rem;
        width: 100%;
        background-color: var(--theme-lt-black);
        /* height: 100%; */
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        z-index: 1;
    }
    .rt-menu-toggle{
        position: absolute;
        left: 20px;
        top: 33px;
        display: block;
        z-index: 11;
    }
    header.site-header.opened-menu .site-branding a.custom-logo-link{
        position: relative;
        z-index: 11;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu{
        position: static;
        background: transparent;
        box-shadow: none;
        width: 100%;
        display: none;
        padding-top: 0 !important;
        float: none;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu li{
        width: 100%;
    }
    header.site-header .bl-navigation ul.menu > li{
        border-bottom: 1px solid var(--rt-location);
    }
    header.site-header .bl-navigation ul.menu > li.open-dropdown.menu-item-has-children{
        border-bottom: none;
    }
    header.site-header .bl-navigation ul.menu > li.open-dropdown .sub-menu{
        border-bottom: 1px solid var(--rt-location);
        border-radius: 0px;
    }
    header.site-header .bl-navigation ul > li > a{
        padding: 0.625rem 0;
        color: var(--theme-lt-gray);
        font-weight: 500;
        font-size: 1.5625rem;
        display: block;
    }
    header.site-header .bl-navigation ul > li ul.sub-menu li a{
        color: var(--white);
        font-size: 1rem;
        padding: .5rem 0;
    }
    header.site-header{
        padding-bottom: 1rem;
        height: 92px;
    }
    header.site-header.opened-menu{
        position: fixed;
        top: 0;
    }
    .top-utility-menu{
        display: none;
    }
    header.site-header .site-branding {
        max-width: 203px;
        margin-left: auto;
        position: relative;
        padding-top: 22px;
    }
    footer.global-footer .footer-logo img{
        max-width: 293px;
    }
    footer.global-footer .footer-logo{
        text-align: center;
    }
    footer.global-footer nav ul{
        margin: 2rem auto 0;
        justify-content: space-around;
        text-align: center;
    }
    footer.global-footer .footer-copyright{
        padding-top: 2.25rem;
    }
}

@media screen and (max-width:768px){
    .gallery-slider-section .gallery-slider .items img{
        height: 12.5rem;
    }
    .gallery-slider .items .text-box h3{
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0;
    }
    .gallery-slider .items .text-box a{
        font-size: 0.6875rem;
        line-height: 1;
        border-radius: 4px;
        padding: 2px 10px;
    }
    .gallery-slider .items .text-box a span{
        display: none;
    }
    .simple-content-section.main-heading .heading-logo-wrap{
        margin-bottom: 3.25rem;
    }
    .heading-logo-wrap h1{
        margin-bottom: 2rem;
    }
    .heading-logo-wrap img{
        margin-left: 0;
    }
}
/* mobile */
@media screen and (max-width:767px){
   .two-column-grid-section .col-wrap{
        padding-left: 9rem;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto 2.625rem;
    }
    .two-column-grid-section .col-wrap .logo-left{
        width: 7.8125rem;
        height: 7.8125rem;
    }
    .learn-more{
        font-size: 0.875rem;
        margin-top: 0;
    }
    .two-column-grid-section .col-wrap h3{
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 5px;
    }
    .two-column-grid-section .col-wrap p{
        font-size: 0.875rem;
    }
    .full-width-column .solid-bg-col h3{
        font-size: 1.375rem;
        line-height: 1.2;
    }
    .simple-content-section:not(.compact-section) .content-inner p{
        font-size: 1.25rem;
        line-height: 1.7625rem;
        margin-bottom: 1.5rem;
    }
    footer.global-footer nav ul li a{
        font-size: 1.125rem;
        line-height: 1.2;
    }
    footer.global-footer .footer-copyright p{
        font-size: 0.8125rem;
        line-height: 1.7;
        font-weight: 500;
    }
    .global-footer.bl-section{
        padding-bottom: 2.1875;
    }
    .hero-slider .items-hero .banner-back{
        display: none;
    }
    .hero-slider .items-hero .banner-back-mobile{
       object-position: center;
    }
    .hero-slider .items-hero > .container > .row{
        align-items: flex-start;
        text-align: center;
        padding-top: 3.75rem;
    }
    .hero-slider .items-hero.align-right .caption-wrap{
        text-align: center;
    }
    .hero-slider .items-hero .caption-wrap{
        max-width: 290px;
        margin: 0 auto 15px;
    }
    .hero-slider .slick-dots{
        display: none !important;
    }
    .all-trailers-sec .inner-white-box{
        height: auto; 
        flex-wrap: wrap;
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin: 0 auto 2.75rem;
    }
    .inner-white-box .caption, 
    .inner-white-box .img-box{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .inner-white-box .caption h3{
        font-size: 2.6875rem;
    }
}